<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <details v-for="product in products">
        <summary>{{product.title}}</summary>
    </details>
</div>
<a href="/user/"><button>更改用户信息</button></a>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            products: []
        },
        mounted: function () {
            throw axios.get(`/product`).then(resp => {
                this.products = resp.data;
            })
        }
    });
</script>
</body>
</html>