<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<form id="app" @submit.prevent="register">
    <label>用户名：
        <input type="text" v-model="userName" required="required">
    </label>
    <label>密码：
        <input type="password" v-model="userPassword" required="required">
    </label>
    <label>再次输入密码：
        <input type="password" v-model="userPassword2" required="required">
    </label>
    <input type="submit">
</form>

<script>
    const app = new Vue({
        el: "#app",
        data: {
            userName: "",
            userPassword: "",
            userPassword2: ""
        },
        methods: {
            register: function () {
                if (this.userPassword !== this.userPassword2) {
                    alert("两次密码不同！");
                    return false;
                }
                console.log("send");
                axios
                    .post(`/register`, {
                        name: this.userName,
                        password: this.userPassword
                    })
                    .then(response => {
                        alert(response.data);
                    })
                    .catch(err => alert(err))

            }
        }

    })
</script>
</body>
</html>